@import 'wrapper';
@import 'header';
@import 'main';
@import 'footer';
@import 'form';
@import 'input-group';
@import 'button';
@import 'data-buttons';
@import 'status';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
